.list {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    display: inline;
  }

  .item {
    &:not(:last-child) {
      margin-right: 33px;
    }

    @media (min-width: 768px) {
      margin-bottom: 16px;
      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }

  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: PoppinsRegular;

    &:global(.active) {
      font-family: PoppinsBold;
      svg {
        fill: #4a56e2;
        box-shadow: (0px 3px 10px rgba(74, 86, 226, 0.5));
      }
    }

    span {
      display: none;
      color: #000000;
      font-size: 18px;
      line-height: 1.5;

      @media (min-width: 768px) {
        display: block;
        margin-left: 20px;
      }
    }
  }

  .svg {
    width: 38px;
    height: 38px;
    border-radius: 6px;
    fill: #6e78e8;

    @media (min-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }

  .displayNone {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
