.wrapper {
  margin-bottom: 0;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 1279px) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.navPlusBalanceBox {
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    min-width: 464px;
  }
}
